name: action-test

env:
  CONFIGURATION_SERVER_USERNAME: ${{ secrets.CONFIGURATION_SERVER_USERNAME }}
  CONFIGURATION_SERVER_PASSWORD: ${{ secrets.CONFIGURATION_SERVER_PASSWORD }}
  TEST_MESSAGE_DEVELOPMENT: "this is the development test"
  TEST_MESSAGE_PRODUCTION: "this is the production test"
  GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
  GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
  GCLOUD_ZONE_DEVELOPMENT: ${{ secrets.GCLOUD_ZONE_DEVELOPMENT }}
  GCLOUD_ZONE_PRODUCTION: ${{ secrets.GCLOUD_ZONE_DEVELOPMENT }}
  GCLOUD_PROJECT_DEVELOPMENT: ${{ secrets.GCLOUD_PROJECT_DEVELOPMENT }}
  GCLOUD_PROJECT_PRODUCTION: ${{ secrets.GCLOUD_PROJECT_DEVELOPMENT }}
  GCLOUD_SA_KEY: ${{ secrets.GCLOUD_SA_KEY }}
  GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true
  CONFIGURATION_SERVER_URI_PRODUCTION: https://configuration.bootifulpodcast.fm
  CONFIGURATION_SERVER_URI_DEVELOPMENT: https://configuration.development.bootifulpodcast.fm
  GKE_CLUSTER_NAME_PRODUCTION: bootiful-podcast-production
  GKE_CLUSTER_NAME_DEVELOPMENT: bootiful-podcast-development


on:
  repository_dispatch:
    types: [ deploy-event ]
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - uses: bootiful-podcast/bp-mode-github-action@v34

      - uses: google-github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}
          project_id: ${{ env.GCLOUD_PROJECT }}
          export_default_credentials: true

      - run: |
          gcloud config set project $GCLOUD_PROJECT
          gcloud --quiet auth configure-docker
          gcloud container clusters get-credentials $GKE_CLUSTER_NAME --zone "$GCLOUD_ZONE" --project ${GCLOUD_PROJECT}

      - run: |
          kubectl get pods
          echo KUBE_CONFIG_DATA="$(base64 -w 0 ~/.kube/config)" >> $GITHUB_ENV
          rm -rf ~/.kube/config

      - run: |
          echo $KUBE_CONFIG_DATA | base64 -d  > ~/.kube/config
          kubectl get all

      - uses: joshlong/kubernetes-waiter-github-action@main
        with:
          kubeconfig : ${{ env.KUBE_CONFIG_DATA }}
          waitlist: "configuration"

      - uses: bootiful-podcast/bp-mode-github-action@v34
#
#      - uses: joshlong/config-client-github-action@v29
#        with:
#          config-server-uri: http://34.71.92.231
#          config-server-username: ${{ secrets.CONFIGURATION_SERVER_USERNAME  }}
#          config-server-password: ${{ secrets.CONFIGURATION_SERVER_PASSWORD  }}
#          config-server-application-id: deployment
#          config-server-profile: development
#
#      - name: "Echo"
#        run: |
#          echo $BP_MODE
#          echo $BP_MODE_LOWERCASE
#          echo $BP_API_USERNAME
#          echo $TEST_MESSAGE
#
