name: action-test

env:
  CONFIGURATION_SERVER_USERNAME: ${{ secrets.CONFIGURATION_SERVER_USERNAME }}
  CONFIGURATION_SERVER_PASSWORD: ${{ secrets.CONFIGURATION_SERVER_PASSWORD }}


on:
  repository_dispatch:
    types: [ deploy-event ]
#  create:
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
#      - uses: actions/checkout@v2

      - uses: bootiful-podcast/bootiful-podcast-action@v25
        with:
          config-server-uri: http://34.71.92.231
          config-server-username: ${{ secrets.CONFIGURATION_SERVER_USERNAME  }}
          config-server-password: ${{ secrets.CONFIGURATION_SERVER_PASSWORD  }}
          config-server-application-id: deployment
          config-server-profile: development

      - name: "Echo"
        run: |
          echo $BP_API_USERNAME
      