name: Test custom action works

env:
  CONFIGURATION_SERVER_USERNAME: ${{ secrets.CONFIGURATION_SERVER_USERNAME }}
  CONFIGURATION_SERVER_PASSWORD: ${{ secrets.CONFIGURATION_SERVER_PASSWORD }}


on:
  repository_dispatch:
    types: [ deploy-production-event, deploy-development-event ]
  create:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: bootiful-podcast/bootiful-podcast-action@v1
        with:
          who-to-greet: 'Mona the Octocat'

      - name: "Setup Initial Environment"
        run: |
          echo "Hello, world"
