name: action-test

env:
  CONFIGURATION_SERVER_USERNAME: ${{ secrets.CONFIGURATION_SERVER_USERNAME }}
  CONFIGURATION_SERVER_PASSWORD: ${{ secrets.CONFIGURATION_SERVER_PASSWORD }}
  TEST_MESSAGE_DEVELOPMENT: "this is the development test"
  TEST_MESSAGE_PRODUCTION: "this is the production test"

on:
  repository_dispatch:
    types: [ deploy-event ]  
  push:
    branches: 
      - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: joshlong/kubernetes-waiter-github-action@master
        with:
          waitlist: configuration

#
#      - uses: bootiful-podcast/bp-mode-github-action@v34
#
#      - uses: joshlong/config-client-github-action@v29
#        with:
#          config-server-uri: http://34.71.92.231
#          config-server-username: ${{ secrets.CONFIGURATION_SERVER_USERNAME  }}
#          config-server-password: ${{ secrets.CONFIGURATION_SERVER_PASSWORD  }}
#          config-server-application-id: deployment
#          config-server-profile: development
#
#      - name: "Echo"
#        run: |
#          echo $BP_MODE
#          echo $BP_MODE_LOWERCASE
#          echo $BP_API_USERNAME
#          echo $TEST_MESSAGE
#
