name: action-test

env:
  CONFIGURATION_SERVER_USERNAME: ${{ secrets.CONFIGURATION_SERVER_USERNAME }}
  CONFIGURATION_SERVER_PASSWORD: ${{ secrets.CONFIGURATION_SERVER_PASSWORD }}


on:
  repository_dispatch:
    types: [ deploy-event ]
#  create:
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
#      - uses: actions/checkout@v2

      - uses: bootiful-podcast/bootiful-podcast-action@v21
        with:
          who-to-greet: 'Mona the Octocat'

      - name: "Setup Initial Environment"
        run: |
          echo "Hello, world"
          echo "$MESSAGE"
          echo $BP_API_USERNAME
      